{% extends "base.html" %} {% block head %} {% endblock %} {% block body %}
<div class="container">
  <h1 class="contact">My name is Shelton,</h1>
  <h1 class="aboutme">
    It's nice to meet you. I am a software engineer, digital artist, recording
    musician and all around nerd. I have studied at Berklee College of Music,
    University of Central Flordia and Colorado State University. While you're
    here why not check out my
    <a class="bio-link" href="sheltontolbert.com/artwork">art</a> or maybe drop
    by the <a class="bio-link" href="sheltontolbert.com/blog">blog</a> to see
    what I've been up to. Feel free to reach out on
    <a class="bio-link" href="https://twitter.com/TolbertShelton">Twitter</a
    >.<br />
  </h1>
  <code class="heart"><3</code>
</div>
{% endblock %} {% block footer %} {% endblock %}
