{% extends "base.html" %}
<div></div>
{% block head %}
<div class="container">
  <div class="post">
    <img src='https://docs.blender.org/manual/en/latest/_images/modeling_modifiers_generate_subdivision-surface_grid.png' class="photo"></img>
    <div class="text-box">
        <h1 class='title-text'><a href='/post1'> Approximating a Sphere Recursively</a></h1>
        <p class='summary'>An introduction to recursive subdivision<br/><br/><code> Sept 1, 2020</code></p>
        
        <script class='code-text' 
        src='https://gist.github.com/btcimports.py'></script>
        </div>
  </div>
</div>
{% endblock %} {% block body %}
<div></div>

{% endblock %} {% block footer %} {% endblock %}
