{% extends "base.html" %}
<div></div>
{% block head %}

{% endblock %} {% block body %}


<div class="container">
  <div class="post">
    <img src='https://cdnb.artstation.com/p/assets/images/images/030/764/509/large/shelton-tolbert-sorting.jpg?1601573020' class="photo"></img>
    <div class="text-box">
        <h1 class='title-text'><a href='/post/sorting'> Sorting algorithms</a></h1>
        <p class='summary'>Space and time<br/><br/><code> Sept 14, 2020</code></p>
        

        </div>
  </div>




  <div class="post">
    <img src='https://cdna.artstation.com/p/assets/images/images/030/764/484/large/shelton-tolbert-big-o.jpg?1601572985' class="photo"></img>
    <div class="text-box">
        <h1 class='title-text'><a href='/post/big-o'> Big-O notation</a></h1>
        <p class='summary'>Doing more with less<br/><br/><code> Sept 12, 2020</code></p>
        

        </div>
  </div>
  


  <div class="post">
    <img src='https://cdna.artstation.com/p/assets/images/images/030/764/496/large/shelton-tolbert-lighting.jpg?1601573006' class="photo"></img>
    <div class="text-box">
        <h1 class='title-text'><a href='/post/lighting'> Introduction to <br/>lightning and shading <br/>in computer graphics</a></h1>
        <p class='summary'>Let there be light<br/><br/><code> Sept 8, 2020</code></p>
        

        </div>
      </div>
 




  <div class="post">
    <img src='https://cdnb.artstation.com/p/assets/images/images/030/764/513/large/shelton-tolbert-subdivision.jpg?1601573024' class="photo"></img>
    <div class="text-box">
        <h1 class='title-text'><a href='/post/subdivision'> Approximating a <br/>Sphere Recursively</a></h1>
        <p class='summary'>An introduction to recursive subdivision<br/><br/><code> Sept 1, 2020</code></p>
        

        </div>
  </div>
  
</div>

{% endblock %} 

{% block footer %} {% endblock %}
