{% extends "base.html" %} {% block head %} {% endblock %} {% block body %}
<div class="contact">
  <div class="contact-link">
    <a class="contact-link" href="/email">Email</a>
  </div>
  <div class="contact-link">
    <a
      class="contact-link"
      href="https://www.linkedin.com/in/shelton-tolbert-4b3b2746/"
      >LinkedIn</a
    >
  </div>
  <div class="contact-link">
    <a class="contact-link" href="https://github.com/SheltonTolbert">GitHub</a>
  </div>
  <div class="contact-link">
    <a class="contact-link" href="https://leetcode.com/shelton_tolbert/"
      >Leetcode</a
    >
  </div>
</div>
{% endblock %} {% block footer %} {% endblock %}
