{% extends "base.html" %} {% block head %} {% endblock %} {% block body %}
<div class="container">
  <form
    action="https://submit-form.com/wvAKeY_RpfXhc6a4WgEH2"
    target="_self"
    class="form"
  >
    <br /><br />

    <input
      class="mail-form"
      type="text"
      name="name"
      placeholder="Subject"
    /><br />
    <br />
    <input
      class="mail-form"
      type="text"
      name="mail"
      placeholder="E-mail"
    /><br />
    <br />
    <textarea
      rows="15"
      cols="50"
      class="mail-form"
      type="text"
      name="comment"
      size="100"
    ></textarea>
    <br /><br />
    <input type="submit" value="Send" />
    <input type="reset" value="Reset" />
  </form>
</div>
{% endblock %} {% block footer %} {% endblock %}
